---
import Box from "@components/Box/Box.astro"
import styles from "./Posts.module.scss"

const posts = [
  {
    title: "Introducing Meadow",
    date: "Apr 6, 2024",
    author: "Joanna Rutkowska",
    excerpt: "Praesent maximus risus quam, id bibendum tortor ultrices nec.",
  },
  {
    title: "Using Meadow with Obsidian",
    date: "Mar 16, 2024",
    author: "Joanna Rutkowska",
    excerpt:
      "Sed sit amet aliquam erat, et imperdiet risus. Phasellus ante elit.",
  },
  {
    title: "Pellentesque nisi quam ullamcorper",
    date: "Feb 12, 2024",
    author: "Marcin Stachyra",
    excerpt: "Phasellus ante elit, vehicula a ligula id.",
  },
  {
    title: "Mauris magna urna accumsan in scelerisque",
    date: "Jan 11, 2024",
    author: "Marcin Stachyra",
    excerpt: "Vestibulum felis diam, cursus a maximus id.",
  },
]
---

{
  posts.map(({ title, date, author, excerpt }) => (
    <Box type="plain" href="#">
      <h3 class={styles.title}>
        {title}
        <i>→</i>
      </h3>
      <p class={styles.excerpt}>{excerpt}</p>
      <p class={styles.meta}>
        {date} <i /> {author}
      </p>
    </Box>
  ))
}
