---
import Box from "@components/Box/Box.astro"
import FomattedDate from "@components/Date/Date.astro"
import { Markdown } from "@astropub/md"
import styles from "./Posts.module.scss"

let posts = await Astro.glob("@content/blog/**/*.md")
posts = posts.filter((post) => {
  if (new Date() >= new Date(post.frontmatter.date)) {
    return post
  }
})
posts.sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
)
---

{
  posts.map((post) => {
    const slug = post.file.split("/").reverse()[0].replace(".md", "")
    const {
      frontmatter: { title, description, shortDescription, date, author },
    } = post
    return (
      <Box type="plain" href={`/${slug}`}>
        <h2 class={styles.title}>
          {title}
          <i>→</i>
        </h2>
        <p class={styles.description}>
          <Markdown.Inline of={shortDescription || description} />
        </p>
        <p class={styles.meta}>
          <FomattedDate date={date} />
          <i />
          {author}
        </p>
      </Box>
    )
  })
}
