---
import FomattedDate from "@components/Date/Date.astro"
import { Markdown } from "@astropub/md"
import styles from "./Article.module.scss"
import "lightgallery/css/lightgallery.css"

const { title, description, date, author, authorImage } = Astro.props
---

<article class={styles.el}>
  {
    title && (
      <header class={styles.header}>
        <h1 class={styles.title}>{title}</h1>
        <h2 class={styles.description}>
          <Markdown.Inline of={description} />
        </h2>
        <p class={styles.meta}>
          <FomattedDate date={date} />
          <i />
          {authorImage && (
            <img class={styles.authorImage} src={authorImage} alt={author} />
          )}
          {author}
        </p>
      </header>
    )
  }
  <slot />
</article>

<script>
  import {
    setupFootnotes,
    setupImageCaptions,
    setupImageLinks,
  } from "@scripts/article"

  setupFootnotes()
  setupImageCaptions()
  setupImageLinks()
</script>
