---
import styles from "./Screenshots.module.scss"
---

<div class={styles.el}>
  <a class={styles.link} href="/images/screenshots/1.png">
    <img class={styles.image} src="/images/screenshots/1.png" />
  </a>
  <a class={styles.link} href="/images/screenshots/2.png">
    <img class={styles.image} src="/images/screenshots/2.png" />
  </a>
  <a class={styles.link} href="/images/screenshots/3.png">
    <img class={styles.image} src="/images/screenshots/3.png" />
  </a>
</div>
