---
import Container from "@components/Container/Container.astro"
import styles from "./Footer.module.scss"

const menu = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "About",
    url: "/about",
  },
  {
    title: "Download",
    url: "/download",
  },
  {
    title: "Quick start guide",
    url: "https://web.dev",
    external: true,
  },
  {
    title: "User docs",
    url: "https://web.dev",
    external: true,
  },
  {
    title: "Developer docs",
    url: "https://golem.foundation/meadow-app/documentation/meadow/",
    external: true,
  },
]

const copyrightText = "Golem Foundation, Zug, Switzerland"
---

<footer class={styles.el}>
  <Container>
    <ul class={styles.menu}>
      {
        menu.map(({ title, url, external }) => (
          <li>
            <a class={styles.menuLink} href={url}>
              {title}
              {external && <i>↗</i>}
            </a>
          </li>
        ))
      }
    </ul>
    <p class={styles.copyright}>
      © {new Date().getFullYear()}
      {copyrightText}
    </p>
    <div class={styles.themeSwitcher}>
      <button class={styles.themeSwitcherButton} data-theme-switcher="light"
        >Light</button
      >
      <span class={styles.themeSwitcherSeparator}></span>
      <button class={styles.themeSwitcherButton} data-theme-switcher="dark"
        >Dark</button
      >
    </div>
  </Container>
</footer>
