---
import Container from "@components/Container/Container.astro"
import styles from "./Footer.module.scss"
---

<footer class={styles.el}>
  <Container>
    <ul class={styles.menu}>
      <li>
        <a class={styles.menuLink} href="/">Home</a>
      </li>
      <li>
        <a class={styles.menuLink} href="/about">About</a>
      </li>
      <li>
        <a class={styles.menuLink} href="#">Quick start guide<i>↗</i></a>
      </li>
      <li>
        <a class={styles.menuLink} href="#">User docs<i>↗</i></a>
      </li>
      <li>
        <a class={styles.menuLink} href="#">Developer docs<i>↗</i></a>
      </li>
    </ul>
    <p class={styles.copyright}>
      © {new Date().getFullYear()} Golem Foundation, Zug, Switzerland
    </p>
    <div class={styles.themeSwitcher}>
      <button class={styles.themeSwitcherButton} data-theme-switcher="light"
        >Light</button
      >
      <span class={styles.themeSwitcherSeparator}></span>
      <button class={styles.themeSwitcherButton} data-theme-switcher="dark"
        >Dark</button
      >
    </div>
  </Container>
</footer>
